<%= simple_form_for(@book, html: { class: 'form-horizontal' }) do |f| %>
	
  
  <%= simple_form_for @book, html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><%= controller.action_name.capitalize %> Book
	  </legend>

	    <%= f.input :title %>
	    <%= f.association :category %>
	<div class="row">
      <div class="col s4">
    <%= f.input :proposal_date, as: :date, order: [:month, :day, :year], start_year: Date.today.year - 2, end_year: Date.today.year %>

      </div>
      <div class="col s4">
    <%= f.input :contract_date, as: :date, order: [:month, :day, :year], include_blank: true, start_year: Date.today.year - 2, end_year: Date.today.year %>
      </div>
      <div class="col s4">
    <%= f.input :published_date, as: :date, order: [:month, :day, :year], include_blank: true, start_year: Date.today.year - 2, end_year: Date.today.year%>
      </div>
  </div>
  <%= f.input :notes, input_html: { class: 'materialize-textarea' } %>
  <%= render "authors_checkboxes" %>
    <div class="form-actions">
    <%= f.submit nil, class: 'btn' %>
    <%= link_to 'Cancel', books_path, :class => 'btn deep-orange lighten-3' %>
  </div>

    </fieldset>
  <% end %>

<% end %>
